:root {
    --main-color: #26877F;
    --secondary-color: #121212;
    --section-background: #f6f6f6;
    
  }
  *{
    padding: 0;
    margin: 0;
  }

  html{
    scroll-behavior: smooth;
  }
  .container{
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }
    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }
    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }
    /* Header */
   
    header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    header .logo {
        height: 80px;
    }
    header nav{
flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;
    }
    header nav ul{
        display: flex;
        list-style-type: none;
    }
    header nav ul li a{
        display: block;
        text-decoration: none;
        font-size: 16px;
        padding: 30px;
        transition: 0.3s;
        color: var(--main-color);
    }

    /* Landing */
    .landing
    {
      background-image: url(images/bg.jpg);
      background-size: cover;
      background-position: center;
      height:100vh;
      
    }

    .landing .intro-text {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      width: 320px;
      max-width: 100%;
    }
    .landing .intro-text h1 {
      font-weight: bold;
      font-size: 50px;
      margin-bottom: 10px;
      color: var(--main-color);
    }
    .landing .intro-text p {
      font-size: 19px;
      line-height: 1.8;
    }

    /* About */
    .about{
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: #f6f6f6;
      justify-content: center;
    }
    .about h1{
      color: var(--main-color);
      margin: 0 40px;
      text-align: center;
   
    }
    .about p{
      color:var(--secondary-color);
      height: 20px;
      margin-right: 40px;
      text-align: center;
    }




    /* Services */


    /* Contact */
    .contact{
      background-color: var(--main-color);
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;

    }
    .contact .img{
      position: absolute;
      width: 175.9px;
      height: 109.55px;
      
      float:right;
      
      opacity: 0.2;

    }
    .contact .info{
      color: var(--secondary-color);
      margin: 0 40px;
      text-align: center;
    }

 




    /* Footer */
    footer{
      background-color: var(--secondary-color);
      color: white;
      padding: 10px 0;
      text-align: center;
      font-size: 12px;
      height: 20px;

    }

